// Specific CSS for your home-page
.card {
  background-color: #023E8A;
  color: white;
  font-family: $body-font;
  height:auto;
  border-radius: 8px !important;
}

#card-1 {
  background-color: $light-blue;
  border-radius: 0px 0px 8px 8px;
}

#card-2 {
  background-color: $blue;
  border-radius: 0px 0px 8px 8px;
}

#card-3 {
  background-color: $navy-blue;
  border-radius: 0px 0px 8px 8px;
}

#card-4 {
  background-color: $typo_dark_blue;
  border-radius: 0px 0px 8px 8px;
}

.card-img-top {
  height: 250px;
}

.subheading {
  margin: 0 auto;
  display: flex;
  font-size: 45px;
  padding: 45px;
  text-align: center;
  color: $black;
  font-family: $headers-font;
  justify-content: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.bottom-picture {
  height: 600px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bottom-container-homepage{
  padding: 0 60px;
  text-align: center;
  // align-items: center;
}

.picture-box {
overflow: hidden;
max-width: 500px;
}


a {
  text-decoration: none !important;
  color: white;
}

.call-to-action-link {
  margin-bottom: 100px;
}
