.current_spot{
  color: $navy-blue;
}

.breadcrumb-link {
  color: inherit;
}

.breadcrumb-link:hover {
  color: #1C3E8A;
}


.form-check-input.is-valid ~ .form-check-label {
  color: #FF9E00 !important;}
