<div class="header">
    <h2 class="text-center fw-bold">Create a new dive site</h2>
</div>

<div class="container py-5">
  <div class="show-log-card-map p-5">
    <%# <h2 class="text-center fw-bold pb-3">Create a new dive site</h2> %>
    <%# <h4 class="text-center fw-normal pb-3"> <span class="current_spot">Dive Site</span> > Log Details > Review</h4> %>
    <h4 class="text-center fw-normal pb-3">
      <span class="current_spot">
      </span>
      <% if !@dive_site.id.nil? %>
        <%= link_to "Dive Site", new_dive_site_path(@dive_site), class:"breadcrumb-link" %> >
        <%= link_to "Log Details", new_dive_site_log_path(@dive_site, breadcrumb: 'ds'), class:"breadcrumb-link" %> >
        <%= link_to "Review", new_dive_site_review_path(@dive_site, breadcrumb: 'ds'), class:"breadcrumb-link" %>
        <% else %>
          <h4 class="text-center fw-normal pb-3"> <span class="current_spot">Dive Site</span> > Log Details > Review</h4>
      <% end %>
    </h4>

    <p class="text-center fw-light">Before logging a dive, lets get some details about the dive spot.</p>
    <%= render "form", dive_site: @dive_site %>
  </div>
</div>
