<div class="top-bar mb-logs">
    <h1>All conversations</h1>
</div>

<div class="container py-5 w-50">
  <%# <h2 class="text-center pb-5 fw-bold">All conversations</h2> %>

    <ul class="list-group">
  <% @conversations.order(created_at: :desc).each do |conversation| %>
    <li class="list-group-item">
      <h3 class="pt-3"><%= link_to conversation.subject, conversation_path(conversation) %></h3>
      <p><%= conversation.created_at.strftime("%d %b %Y %l:%M %p") %>
    </li>
  <% end %>
    </ul>
</div>
