<div class="container py-5">
  <h2>All conversations</h2>

  <% @conversations.each do |conversation| %>
    <div>
      <%= link_to conversation.subject.user, conversation_path(conversation) %>
    </div>
  <% end %>

  <%= link_to "New conversation", new_conversation_path %>

</div>
