<footer>
  <div class="d-flex align-items-center footer-box">
    <img style="width:150px" src="https://res.cloudinary.com/cloudinary972/image/upload/v1661707981/okdiver-logo_ka3fbk.png" alt="">
    <ul class="d-flex align-items-center justify-content-center footer-nav">
      <div class="footer-links d-flex gap-4">
        <a href="#"><i class="fab fa-github fa-lg"></i></a>
        <a href="#"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-lg"></i></a>
      </div>
    </ul>
      <div class="copyright">
        <p>Copyright © 2022. Ok Diver. All rights reserved.</p>
      </div>
      <p>Copyright © 2022. Ok Diver. All rights reserved.</p>
    </ul>
  </div>
</footer>
