<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<button class="tag">Drift Diving</button>

<a href="#" class="explore-button">Explore now</a>

<a href="#" class="register-button">Register</a>
