<div class="section">
    <%= link_to "Explore Now", dive_sites_path, class:"explore-button" %>
  <h1>Not sure where to go? Perfect</h1>
  <div class="video-container">
    <%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, id: "video-banner" %>
  </div>
</div>

<div class="separation-zone">
  <h3>Inspiration for your next dive</h3>
</div>

<div class="home-page-container">
  <p>Hello!!</p>
  <p>Another Hello!!</p>
</div>
