<div class="container py-5">
  <h2 class="text-center fw-bold">Where did you dive?</h2>
  <p class="text-center pb-3"><%= link_to "Can't find your site? Add a new dive site.", new_dive_site_path, class: "link-text" %></p>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
