// all our buttons

.tag {
  list-style: none;
  text-align: center;
  // height: 40px;
  // min-width: 120px;
  border-radius: 8px;
  // margin-left: 3pxr;
  gap: 10px;
  background-color: #E5F1F8;
  color: #023E8A;
  // border-color: #023E8A;
  // border-style: solid;
  border: 1px solid #023d8a31;
  border-radius: 18px;
  // border:none;
  font-family: $body-font;
  font-size: 14px;
  padding: 8px 12px 8px 12px;
  // display: flex;
}

.tag:hover {
  background-color: #023E8A;
  color: $white;
  border-color: #023E8A;
}

.register-button {
  // height: 60px;
  background: #023E8A;
  color: white;
  box-shadow: 0px 4px 15px #023E8A;
  border-radius: 8px;
  padding: 16px 28px;
  // gap: 10px;
  // display: flex;
  // justify-content: space-between;
  text-align: center;
  color: $white;
  text-decoration: none;
  font-family: $headers-font;
  font-weight: 600;
  min-width: 160px;
  border: none;
}

.register-button:hover {
  color: white;
}


.explore-button {
  // height: 60px;
  background: #023E8A;
  color: white;
  box-shadow: 0px 4px 15px #023E8A;
  // background: #FF9E00;
  width: 160px;
  // box-shadow: 0px 4px 15px #FF9E00;
  border-radius: 8px;
  padding: 12px 14px;
  gap: 10px;
  text-align: center;
  justify-content: center;
  color: $white;
  text-decoration: none;
  font-family: $headers-font;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
  font-size: 18px;
  transition: 0.5s;
}

#card-index-format-button {
  // font-size: 12px !important;
  display: flex;
  justify-content: flex-end;
}

#font-size {
  width: 95px;
  font-size: 12px !important;
  margin-bottom: 3px !important;
  padding: 8px 12px;
}

#button-card-index {
  display: flex;
  justify-content: flex-end;
}

#button-card-index-size {
  width: 115px;
  font-size: 14px !important;
  padding: 12px 8px;
}

.explore-button a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}

.explore-button:hover {
  background: #FF9E00;
  width: 160px;
  box-shadow: 0px 4px 15px #FF9E00;
  border-radius: 8px;
  padding: 12px 14px;
  gap: 10px;
  text-align: center;
  justify-content: center;
  color: $white;
  text-decoration: none;
  font-family: $headers-font;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
  font-size: 18px;
  transition: 0.5s;
}

.explore-button-hero {
  background: #FF9E00;
  width: 200px;
  box-shadow: 0px 4px 15px #FF9E00;
  border-radius: 8px;
  padding: 26px 16px;
  gap: 10px;
  text-align: center;
  justify-content: center;
  color: $white;
  text-decoration: none;
  font-family: $headers-font;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
  border-style: none;
  transition: all 0.5s;
  max-height: 50px;
  color: #FFFFFF !important;
}

.a-forcing {
  color: #FFFFFF !important;
}
.explore-button-hero a:hover {
  color: #FFFFFF !important;
}
// .explore-button-hero:hover {
//   // border: 0.5px solid #023E8A;
//   // box-shadow: none;
//   // transition: all 0.5s;
//   background: #FF9E00;
//   width: 160px;
//   box-shadow: 0px 4px 15px #FF9E00;
//   border-radius: 8px;
//   padding: 12px 14px;
//   gap: 10px;
//   text-align: center;
//   justify-content: center;
//   color: $white;
//   text-decoration: none;
//   font-family: $headers-font;
//   font-weight: 600;
//   display: flex;
//   align-items: center;
//   margin: 0 auto;
//   z-index: 1;
//   font-size: 18px;
//   transition: 0.5s;
// }

// .explore-button-hero a:hover {
//   // color: #023E8A;
//   // transition: all 0.5s;
// }

#search_query.form-control.string.required {
  // padding-left: 34px;
  padding: 40px 20px 40px 34px;
  font-size: 20px;
}
// #search_query::-webkit-input-placeholder {
// padding-left: 34px;
// }

.tag-white {
  border-radius: 8px;
  gap: 10px;
  background-color: $white;
  color: #023E8A;
  border: 1px solid #AEB3BC;
  font-family: $body-font;
  font-size: 25px;
  padding: 10px;
}

.card-index .heart-icon {
  position: absolute;
  left: 85%;
  top: 3%;
  bottom: 90.22%;
  border: none;
  background: transparent;
}

.fa-heart {
  // background: #FFD1A2;
  color: #F49037;
  // border: 2px solid #FF9E00;
  // border-radius: 8px;
}

.fa-heart::after {
  color: #FF9E00;
}

.fa-calendar {
  color: #023E8A;
  margin-right: 5px;
  // background-color: transparent;
  // display: flex;
  // align-items: center;
}

.fa-arrow-down {
  color: #023E8A;
  margin-right: 5px;
}

.fa-temperature-half {
  color: #023E8A;
  margin-right: 5px;
}

.fa-clock {
  color: #023E8A;
  margin-right: 5px;
}

.fa-comment{
  color: #023E8A;
  margin-right: 5px;
}

.icons-show-log{
  display: flex;
  align-items: baseline;
}

.button-white {
  border-radius: 8px;
  gap: 10px;
  background-color: $white;
  color: #023E8A;
  border-color: #023E8A;
  border-style: solid;
  font-family: $headers-font;
  font-size: 18px;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.button-white:hover {
  background-color: $white;
  color: $black;
  border-color: #023E8A;
}
