// all our buttons

.tag_button {
  height: 40px;
  width: 120px;
  border-radius: 8px;
  padding: 10px, 16px, 10px, 16px;
  text-align: center;
  background-color: #E5F1F8;
  color: #023E8A;
  border-color: #023E8A;
  border-style: solid;
}
