// all our buttons

.tag {
  list-style: none;
  text-align: center;
  // height: 40px;
  // min-width: 120px;
  border-radius: 8px;
  // margin-left: 3pxr;
  gap: 10px;
  background-color: #E5F1F8;
  color: #023E8A;
  // border-color: #023E8A;
  // border-style: solid;
  border: 1px solid #023d8a31;
  border-radius: 8px;
  // border:none;
  font-family: $body-font;
  font-size: 14px;
  padding: 8px 12px 8px 12px;
  // display: flex;
}

.tag:hover {
  background-color: #023E8A;
  color: $white;
  border-color: #023E8A;
}

.register-button {
  // height: 60px;
  background: #023E8A;
  color: white;
  box-shadow: 0px 4px 15px #023E8A;
  border-radius: 8px;
  padding: 16px 28px;
  // gap: 10px;
  // display: flex;
  // justify-content: space-between;
  text-align: center;
  color: $white;
  text-decoration: none;
  font-family: $headers-font;
  font-weight: 600;
  min-width: 160px;
}

.register-button:hover {
  color: white;
}


.explore-button {
  // height: 60px;
  background: #FF9E00;
  width: 160px;
  box-shadow: 0px 4px 15px #FF9E00;
  border-radius: 8px;
  padding: 12px 14px;
  gap: 10px;
  text-align: center;
  justify-content: center;
  color: $white;
  text-decoration: none;
  font-family: $headers-font;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
  font-size: 18px;
}

.explore-button a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */


  color: #FFFFFF;

}

.explore-button:hover {
  color: white;
}

.explore-button-hero {
  background: #FF9E00;
  width: 200px;
  box-shadow: 0px 4px 15px #FF9E00;
  border-radius: 8px;
  padding: 10px 16px;
  gap: 10px;
  text-align: center;
  justify-content: center;
  color: $white;
  text-decoration: none;
  font-family: $headers-font;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
}

.explore-button-hero:hover {
  color: white;
}

.tag-white {
  border-radius: 8px;
  gap: 10px;
  background-color: $white;
  color: #023E8A;
  border-color: #023E8A;
  border-style: solid;
  font-family: $body-font;
  font-size: 35px;
  padding: 10px;
}

.tag-white:hover {
  background-color: $white;
  color: $black;
  border-color: #023E8A;
}

.card-index .heart-icon {
  position: absolute;
  left: 90%;
  top: 2%;
  bottom: 90.22%;
  border: none;
  background: transparent;
}

.fa-heart {
  // background: #FFD1A2;
  color: #F49037;
  // border: 2px solid #FF9E00;
  // border-radius: 8px;
}

.fa-heart::after {
  color: #FF9E00;
}
