.card-index {
  overflow: hidden;
  background: #A4D7F50D 10%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  margin-bottom: 3px;
  width: 100%;
  align-items: flex-start;
  justify-content: left;
  max-height: 600px;
  justify-content: space-between;
  border-radius: 8px;
  padding: 0 !important;
  margin-left: 10px;

}

.card-index-format {
  overflow: hidden;
  background: #A4D7F50D 10%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  align-items: flex-start;
  justify-content: left;
  height: 300px;
  justify-content: space-between;
  border-radius: 8px;
  margin-left: 10px;
}

.card-index-format .card-img-top {
  height: 55%;
  width: 100%;
  object-fit: cover;
}

.card-index-format h2 {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 0;
  margin-top: 3px;
  margin-bottom: 0px;
}

.card-index-format p {
  font-size: 13px;
  opacity: .7;
  margin: 0;
  color: black;
}

.card-index-format-infos {
  padding: 15px;
  height: 105px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-index > img {
  // position: absolute;
  // left: 87.04%;
  // right: 4.45%;
  // top: 3.53%;
  // bottom: 90.22%;
  // background: #FFD1A2;
  // border: 2px solid #F49037;
  // border-radius: 8px;
  height: 65%;
  width: 100%;
  object-fit: cover;
}

.card-index h2 {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 0;
  margin-top: 3px;
  margin-bottom: 0px;
}

.card-index p {
  font-size: 13px;
  opacity: .7;
  margin: 0;
  color: black;
}

.card-index-alignment {
  display: flex;
  justify-content: space-between;
}
.card-index .card-index-infos {
  padding: 26px !important;
  // display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-index-infos .card-index-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-index .card-index-tags {
  // text-decoration: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
  // align-items: flex-start;
  // justify-content: center;
  margin-top: 16px;
  column-gap: 12px;
}

// wishlist card by marving
.card-box {
display: flex;
width: 100%;
height: 80%;
background: #FFFFFF;
/* Gray 200 */

border: 1px solid #D0D4D9;
border-radius: 8px;
padding-left: 38px;
}

.card-content--box {
  padding-top: 38px;
}

.card-box p {
  margin-bottom: 4px;
  width: 80%;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* or 120% */


  /* Gray 500 */

  color: #4D545E;
}
.card-box  h2 {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 39.81px;
line-height: 56px;
margin-bottom: 20px;
/* identical to box height, or 141% */


/* Gray 500 */

color: #4D545E;
}


  .border-radius {
    border-radius: 8px;
  }

.card-content--location {
  display: flex;
  color: #4D545E;
}

//showpage log
.show-log-card {
  display: block;
  // position: absolute;
  // transform: translateY(-20%);
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: #4D545E;
  border-radius: 8px;
  width: 900px;
  height: auto;
  // top: 40%;
  // left: 19%;
  // transform: translateY(-20%);
  margin-top: -12%;
  margin-bottom: 20px;
  padding-bottom: 7px;
}

.show-log-card-map {
  display: block;
  // position: absolute;
  // transform: translateY(-20%);
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: #4D545E;
  border-radius: 8px;
  width: 1100px;
  height: auto;
  // top: 40%;
  // left: 19%;
  // transform: translateY(-20%);
  margin-top: -12%;
  margin-bottom: 20px;
  padding-bottom: 7px;
}

.show-log-pic > img {
  border-radius: 8px;
}
