.navbar-lewagon {
  justify-content: space-between;
  background: white;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  padding: 28px 12px 28px 12px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

#navbarDropdown {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  position: relative;
}

.group-left {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.input-group-text {
  background-color: transparent;
}

.nav-link {
  font-family: $headers-font;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #1A1A1A;
}

.search-icon-button {
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

#input-box {
  border: none;
  border-radius: $border-radius;
  background-color: transparent;
}

.fa-search {
  color: #023E8A;
}

#query::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */
  color: #023E8A;
}

.search-box {
  border-radius: $border-radius;
  // border: 1px solid #1A1A1A;
  padding: 4px;
  background: rgba(2, 62, 138, 0.1);
}

.margin-right-7px {
  margin-right: 7px;
}

.hidden {
  display: none;
}

.form-control.navbar-field{
  border: none;
  width: 400px;
  background-color: transparent;
  color: #1A1A1A;
}

.search-box .form-control:hover {
  background-color: #E7ECF4 !important;
  border: none;
}


.form-control:focus {
  background-color: #E7ECF4 !important;
  color: #1A1A1A;
}
