.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

#navbarDropdown {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  position: relative;
}

.form-control {
  background-color: transparent;
}

.input-group-text {
  background-color: transparent;
}

.nav-link {
  font-family: $headers-font;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #1A1A1A;
}

.search-icon-button {
  border: none;
  background-color: transparent;
}

#input-box {
  border: none;
  border-radius: $border-radius;
  color: transparent;
}

.search-box {
  border-radius: $border-radius;
  border: 1px solid #1A1A1A;
  padding: 4px;
}
