.review-avatar {
  border-radius: 50%;
  width: 75px;
}

.star-color {
  color: #FF9E00
}

.review-card {
  max-width: 300px;
  border-radius: 8px;
  padding: 30px;
  // padding-bottom: 30px;
  border: 1px solid #D0D4D9;
}

.review-card a {
  text-decoration: none;
  color: #FF9E00;
}
