.show-card-section {
  background-color: #E5F1F8;

}

.navy-text {
  color: #023E8A;
}

.larger-icon {
  font-size: 30px;
}

.link-text {
  color: #FF9E00;
  text-decoration: none;
}

.icon-heart .fa-solid {
  color: #F49037;
}

.icon-heart .fa-regular {
  color: #F49037;
  color: #FFD1A2;
}

.show-navbar p {
  margin-top: 16px !important;
  text-align: center;
}
