.show-card-section {
  background-color: #E5F1F8;

}

.navy-text {
  color: #023E8A;
}

.larger-icon {
  font-size: 30px;
}

.link-text {
  color: var($primary);
  text-decoration: none;
  font-size: 18px;
}

.icon-heart .fa-solid {
  color: #F49037;
}

.icon-heart .fa-regular {
  color: #F49037;
  color: #FFD1A2;
}

.show-navbar p {
  margin-top: 16px !important;
  text-align: center;
}

.close-sites-image {
  height: 200px;
  object-fit: cover;
}

.three-images {
  width: 168px;
  height: 100px;
}


.tags-box-show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // flex-basis: 60%;

  column-gap: 40px;
  row-gap: 40px;
  width: 80%;

}
