// this is the blue bar at the top of each screen

.top-bar {
  background-color: #023E8A;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #ffffff;
  text-align: center;
}

.top-bar h1 {
  font-weight: 700;
}
