.reviews-box {
  display: flex;
  margin-bottom: 12px;
}

.stars-wishlist{
  margin-right: 16px;
}

.star-icon {
color: #FF9E00;
}
.review-numbers{
font-family: 'Lora';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 120% */

display: flex;
align-items: center;

/* Gray 500 */

color: #4D545E;
}



.main-content ul{
  padding: 0!important;
  margin-top: 0;
}

.main-content li{
list-style: none;
}


.tags-box {
  margin-top: 30px;
}

// SLIDER
.img-wishlist {
  border-radius: 0px 8px 8px 0px;
  width: 100%;
  height: 100%;
}


// Icon heart

.icon-wishlist{
position: absolute;
top: 4%;
right: 5%;
}

.fa-heart .fa-solid {
  color: #F49037;
}

.fa-heart .fa-regular {
  color: #FFD1A2;
}

.icon-wishlist .fa-solid {
  color: #F49037;
}

.icon-wishlist .fa-regular {
  color: #F49037;
  color: #FFD1A2;
}
