.tag-field {
  background: #FFFFFF;
  /* Gray 500 */

  border: 1px solid #4D545E;
  border-radius: 8px;
  width: 179px;
  height: 52px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  // line-height: 8px;
  /* or 40% */

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  color: #4D545E;
  text-align: center;
}

.search-btn {
  display: none;
}

.margin-auto-0 {
  margin: 40px auto 20px auto;
}


.tag-field-specialties {
  width: 179px;
  height: 52px;
}

.ts-control {
  height: 100%;
  border: 0;
  width: 100%;
}


.ts-wrapper .form-control .tag-field .multi .has-items {
  width: 560px !important;
  // height:
}

.ts-control>input {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 8px;
  color: #4D545E;

}


.ts-dropdown {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 8px;
  color: #4D545E;
}


.ts-dropdown [data-selectable].option  {
  margin-bottom: 12px;
}


.ts-wrapper.multi .ts-control>div  {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #4D545E;
  background-color: #E5F1F8;
  text-align: center;
  padding: 6px 10px 6px 10px;
  border-radius: 8px;
}

// select {
//   appearance: none;
// }
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Some browsers will not display the caret when using calc, so we put the fallback first */
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
}
/*For IE*/
select::-ms-expand { display: none; }

#country.tag-field input {
  // background-image: url(https://res.cloudinary.com/cloudinary972/image/upload/v1661787636/Screen_Shot_2022-08-29_at_11.40.16_AM_tppsdw.png);
// background: none;
background-image: none;
}
