.tag-field {
  background: #FFFFFF;
  /* Gray 500 */

  border: 1px solid #4D545E;
  border-radius: 8px;
  width: 179px;
  height: 52px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 8px;
/* or 40% */

display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #4D545E;
text-align: center;
}

.search-btn {
  display: none;
}

.margin-auto-0 {
  margin: 40px auto 20px auto;
}


.tag-field-specialties {
  width: 179px;
  height: 52px;
}

.ts-control {
  height: 100%;
  border: 0;
  width: 100%;
}


.ts-wrapper .form-control .tag-field .multi .has-items {
  width: 560px !important;
  // height:
}

.ts-control>input {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 8px;
  color: #4D545E;

}


.ts-dropdown {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 8px;
  color: #4D545E;
}


.ts-dropdown [data-selectable].option  {
  margin-bottom: 12px;
}


.ts-wrapper.multi .ts-control>div  {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #4D545E;
  background-color: #E5F1F8;
  text-align: center;
  padding: 6px 10px 6px 10px;
  border-radius: 8px;
}
