// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "star-rating.js/dist/star-rating.css";


// Your CSS partials
@import "components/index";
@import "pages/index";
