// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";
@import "star-rating.js/dist/star-rating.css";
@import "tom-select/dist/css/tom-select.min.css";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/banner_img";
@import "components/colours";
