<div class="header"></div>
<div class="container py-5">
  <div class="show-log-card p-5">
    <h1>Edit a log</h1>
    <div class="d-flex justify-content-center">
      <%= render "form", log: @log %>
    </div>
  </div>
</div>
