<div class="header"></div>
<div class="container py-5">
  <div class="show-log-card p-5">
    <h2 class="text-center fw-bold pb-3">Review your experience at <%= @dive_site.name %></h2>
      <h4 class="text-center fw-normal pb-3"> Dive Site > Log Details > <span class="current_spot">Review</span></h4>
    <div class="d-flex justify-content-center">
      <%= render "form", review: @review %>
    </div>
  </div>
</div>
